.Rproj.user
.RDataTmp
.Rhistory
.RData
.Ruserdata

*.html
*.json
*.py

*_files/

*.csv

fams
catboost_info
Store_Sales_Time_Series_Forecasting.ipynb
Store_Sales_Prediction_Blended_Model.ipynb
ds24_class9_group1_kume.ipynb
